* {
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(29, 25, 25);
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    padding: 3rem 2rem;
        margin: 0 auto;
        max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #422a12;
    border: 2px;
    
}
.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navegacao a {
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

.navegacao a:hover {
    color: #d3ad7f;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    
}

.icones img {
    margin: 10px;
    cursor: pointer;
    
}

.icones img:hover {
    padding-bottom: 0.5rem;
}


.imagem1-fundo {
    background: url("./img/home-img.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.imagem1-fundo section{
    display: flex;
    min-height: 100vh;
}