*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
body{
    background-color: navajowhite;
    font-family: "Poppins", sans-serif;
}
section{
    padding: 3rem 2rem;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: 0.1rem solid peru;
    background-color: saddlebrown;
}
.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.navegacao  a {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: white;

}
.navegacao  a:hover {
    color: peru;
    border-bottom: 0.1rem solid navajowhite;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
}
.icones img{
    margin: 1rem;
    cursor: pointer;
}
.icones img:hover{
    width: 40px;
    height: 40px;
}

.header-button-side{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}
.header-button-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}
.header-button-side-left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.header-button-side-left button{
    background-color: #a0522d;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    border-radius: 9999px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}
.header-button-side-left button:hover{
    background-color: saddlebrown;
}
.header-button-side-left{
    height: 100%;
    flex-basis: 50%;
}
.header-button-side-right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-button-side-right img{
    width: 100%;
}